body {
  font-family: 'Acme', sans-serif;
  background: black;
  margin: 0px;
}

img {}

#header {
  background: black;
  position: fixed;
  z-index: -1;
  width: 100%;
}

#title {
  margin-left: 30px;
  width: 50%;
}

.project_r {
  width: 50%;
  background: black;
  float: right;
  padding: 15px;
  margin: 20px;
}

.project_l {
  width: 50%;
  background: black;
  float: left;
  padding: 15px;
  margin: 20px;
}

p {
  color: purple;
  font-family: 'Open Sans', sans-serif;
  width: 35%;
  background: black;
  padding: 15px;
  margin: 20px;
}

.right {
    float: right;
    background: black;
}

.left {
  float: left;
  background: black;
}

img {}

h1 {
  color: purple;
  background: black;
  margin: 50px;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  float: right;
  color: purple;
  background: black;
  width: 40%;
  padding: 15px;
  margin: 20px;
}

ul {
  color: purple;
  font-family: 'Open Sans', sans-serif;
  width: 35%;
  background: black;
  padding: 15px;
  margin: 20px;
  list-style-position: inside;
}

ol {
  color: purple;
  font-family: 'Open Sans', sans-serif;
  width: 35%;
  background: black;
  padding: 15px;
  margin: 20px;
}
